

<div id="wrapper">

  <div class="container-fluid">

    <div id="resume-head" class="row">

      <header class="text-center">
        <h1>Lindsay Williams</h1>
        <p><a href="mailto:williamsl25@yahoo.com" data-rel="external">williamsl25@yahoo.com</a> | <a href="tel:+16164058551">(616) 405-8551</a></p>
        <div class="social">
          <a href="https://github.com/williamsl25"><i class="fa fa-github fa-2x"></i>  github</a></p>
        </div>
      </header>

    </div> <!--end of .row -->

    <!-- <hr> -->

    <div id="resume-body" class="row">

      <div class="col-sm-10 col-sm-offset-1">

        <section id="nav">

          <nav id="resume-nav" role="navigation">

            <div class="row">

              <div class="col-sm-3 col-xs-6">
                <a href="#education">Education</a>
              </div>

              <div class="col-sm-3 col-xs-6">
                <a href="#prof-experience">Experience</a>
              </div>

              <div class="col-sm-3 col-xs-6">
                <a href="#skills">Skills</a>
              </div>

              <div class="col-sm-3 col-xs-6">
                <a href="#dev-experience">Chops</a>
              </div>
            
            </div> <!--end of .row -->      
          
          </nav>

        </section>

        <section id="education">
          <h2>Education<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>Rails Engineer Certificate of Completion, April 2015</h4>
          <p>The Iron Yard Academy, Charleston, SC</p>
          <h4>Education Specialist Degree in School Psychology (Ed.S), May 2006</h4>
          <p>National-Louis University, Evanston, IL</p>
            <ul>
              <li>The School Psychology Certification Program is a nationally approved (NASP) program.</li>
              <li>Overall GPA 4.0</li>
            </ul>
            <br>
          <h4>Master of Education (M.Ed), May 2003</h4>
          <p>Aquinas College, Grand Rapids, MI</p>
            <ul>
              <li>Michigan Certification in Education K-6 All Subjects/7-8 Psychology.</li>
              <li>Overall GPA 3.9</li>
            </ul>
            <br>
          <h4>Bachelor of Science (BS); Major Psychology, Minor Biology, January 1999</h4>
          <p>Western Michigan University, Kalamazoo, MI</p>
            <ul>
              <li>Graduated Cum Laude.</li>
              <li>Overall GPA 3.3</li>
            </ul>
            <br>
        </section>

        <section id="prof-experience">
          <h2>Professional Experience<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>School Psychologist, Michigan and South Carolina - 2005-2014</h4>
          <br>
          <ul> 
            <li>Focused on aspects of implementing response to intervention (RTI) in elementary and secondary schools.</li> 
            <li>Collaborated with staff in planning educational interventions, curriculum, behavioral management, and teaching strategies, including early intervention and response to intervention approaches.</li>
            <li>As a leader in the district, I provided recommendations for educators and parents that addressed the challenge of reducing the number of children who struggled to meet grade level expectations by using response to intervention.</li> 
            <li>Performed the duties and responsibilities of the pre-referral evaluation team as well as the identification and re-evaluation of students with disabilities.</li>
            <li>Served as a member of the child assistance intervention team, IEPT diagnostic team, and was a member of the educational planning and placement team.</li>
            <li>My experience includes administering and interpreting evaluation data and collaborating with parents to increase their understanding, knowledge, and use of appropriate resources available.</li>      
            <li>Worked closely with building principals to facilitate progress monitoring and benchmark meetings where I interpreted the data and supported our staff in providing the best research-based practices.</li>
            <li>Served as a literacy coach for my buildings (elementary and middle school) as part of Michigan’s Integrated Behavior and Learning Support Initiative project. As a coach for the district, I worked closely with school administrators to lead our district toward building the capacity to sustain effective school wide behavior and learning programs.</li>
            <li> Committed to increasing student reading performance, reducing problem behaviors, and helping the school staff use student performance information to develop and evaluate behavior and reading interventions.</li>    
          </ul>
          <br>
          <h4>Graduate Assistant, Supervisor: Camille Blachowicz, Ph. D. Director of the Reading and Language Program at National Louis University- 2003-2005</h4>
          <br>
          <ul>
            <li>Assisted in research and editing of the book, "Teaching Vocabulary in All Classrooms, 3rd Edition authored by Camille Blachowicz, Ph.D. and Peter Fisher, Ph.D. </li>
            <li>Maintained and updated the website for the Reading and Language department at National Louis University</li>
            
          </ul>
          <br>
           
          <h4>Family Literacy Project, Supervisor: Kim Adamle, Ed. S.; Diane Salmon, PhD. - 2004-2005</h4>
          <br>
          <ul>
            <li>Participated in a multicultural literature program promoting literacy, values, and prevention.</li>
            <li>Developed lesson plans and taught parents how to interact with their children to enhance literacy.</li>
            
          </ul>
         
          <br>
        </section>

        <section id="skills">
          <h2>Skills <span class="pull-right top-link"><a href="#resume-head">Top</a> </span> </h2>
          <h4>Ruby on Rails</h4>
            <ul>
              <li>Full-Stack App Development</li>
              <li>MySQL Database</li>
              <li>Unit, Feature and Integration Testing</li>
            </ul>
          <h4>JavaScript</h4>
            <ul>
              <li>jQuery</li>
              <li>AJAX</li>  
              <li>AngularJS</li>  
              
            </ul>
          <h4>HTML/CSS</h4>
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>  
              <li>Twitter Bootstrap</li>  
              
            </ul>   
        </section>

        <section id="dev-experience">
          <h2>Teaching Experience<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>Michigan Career and Technical Institute: Teacher, Plainwell, MI, 2002-2003</h4>
          <ul>
            <li>Used the “Lindamood-Bell Phoneme Sequencing Program”, which covers theory and techniques of meaning and developing phonemic awareness and its application to reading, spelling, and speech.</li>
            <li>Completed the “Seeing Stars Symbol Imagery Program”, which uses symbol imagery to stabilize phonemic awareness and orthographic processing. </li>
            <li>Completed the Visualization and Verbalization instructional training.</li>
          </ul>
          <h4>Substitute Teaching, Kalamazoo, MI, 2001-2002</h4>
          <ul>
            <li>Developed and followed lesson plans for grades K--12</li>
          </ul> 
          <h4>Project H.E.L.P Instructional Tutor Western Michigan University, Kalamazoo, MI, 1999</h4>
          <ul>
            <li>Responsibilities included tutoring elementary aged children using direct instructional methods both in reading and in math.  Progress monitoring and reinforcement interventions were also established.</li>
          </ul>        
          <br>
   
        </section>

      </div>

    </div> <!--end of .row -->

  </div> <!--end of .container-fluid -->

  <div class="row">
    <br>
    <footer class="text-center">© 2015 Lindsay Williams</footer>
     
    
  </div>
   
</div> <!--end of #wrapper -->
  
  