

<div id="wrapper">

  <div class="container-fluid">

    <div id="resume-head" class="row">

      <header class="text-center">
        <h1>Lindsay Williams</h1>
        <p><a href="mailto:williamsl25@yahoo.com?subject=Saw your profile, can we talk?" data-rel="external"><i class="fa fa-envelope-o fa-2x"></i>  williamsl25@yahoo.com</a> <a href="tel:+16164058551"><i class="fa fa-phone fa-2x"></i>(616) 405-8551</a> <a href="https://github.com/williamsl25"><i class="fa fa-github fa-2x"></i>  github</a> </p>
        <br>
      </header>

    </div> <!--end of .row -->

    <!-- <hr> -->

    <div id="resume-body" class="row">

      <div class="col-sm-10 col-sm-offset-1">

        <section id="nav">

          <nav id="resume-nav" role="navigation">

            <div class="row">

              <div class="col-sm-3 col-xs-6">
                <a href="#skills">Skills</a>
              </div>

              <div class="col-sm-3 col-xs-6">
                <a href="#education">Education</a>
              </div>

              <div class="col-sm-3 col-xs-6">
                <a href="#prof-experience">Experience</a>
              </div>

              

              <div class="col-sm-3 col-xs-6">
                <a href="#dev-experience">Projects</a>
              </div>
            
            </div> <!--end of .row -->      
          
          </nav>

        </section>

        <section id="skills">
          <h2>Skills <span class="pull-right top-link"><a href="#resume-head">Top</a> </span> </h2>
          <h4>Ruby on Rails</h4>
            <ul>
              <li>Full-Stack App Development</li>
              <li>MySQL Database</li>
              <li>Unit, Feature and Integration Testing</li>
            </ul>
          <h4>JavaScript</h4>
            <ul>
              <li>jQuery</li>
              <li>AJAX</li>  
              <li>AngularJS</li>  
              
            </ul>
          <h4>HTML/CSS</h4>
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>  
              <li>Twitter Bootstrap</li>  
              
            </ul>   
        </section>

        <section id="education">
          <h2>Education<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>Rails Engineer Certificate of Completion, April 2015</h4>
          <p>The Iron Yard Academy, Charleston, SC</p>
          <h4>Education Specialist Degree in School Psychology (Ed.S), May 2006</h4>
          <p>National-Louis University, Evanston, IL</p>
            <ul>
              <li>The School Psychology Certification Program is a nationally approved (NASP) program.</li>
              <li>Overall GPA 4.0</li>
            </ul>
            <br>
          <h4>Master of Education (M.Ed), May 2003</h4>
          <p>Aquinas College, Grand Rapids, MI</p>
            <ul>
              <li>Michigan Certification in Education K-6 All Subjects/7-8 Psychology.</li>
              <li>Overall GPA 3.9</li>
            </ul>
            <br>
          <h4>Bachelor of Science (BS); Major Psychology, Minor Biology, January 1999</h4>
          <p>Western Michigan University, Kalamazoo, MI</p>
            <ul>
              <li>Graduated Cum Laude.</li>
              <li>Overall GPA 3.3</li>
            </ul>
            <br>
        </section>

        <section id="prof-experience">
          <h2>Professional Experience<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>School Psychologist, Michigan and South Carolina - 2005-2014</h4>
          <br>
          <ul> 
            <li>Focused on aspects of implementing response to intervention (RTI) in elementary and secondary schools.</li> 
            <li>Collaborated with staff in planning educational interventions, curriculum, behavioral management, and teaching strategies, including early intervention and response to intervention approaches.</li>
            <li>As a leader in the district, I provided recommendations for educators and parents that addressed the challenge of reducing the number of children who struggled to meet grade level expectations by using response to intervention.</li> 
            <li>Performed the duties and responsibilities of the pre-referral evaluation team as well as the identification and re-evaluation of students with disabilities.</li>
            <li>Served as a member of the child assistance intervention team, IEPT diagnostic team, and was a member of the educational planning and placement team.</li>
            <li>My experience includes administering and interpreting evaluation data and collaborating with parents to increase their understanding, knowledge, and use of appropriate resources available.</li>      
            <li>Worked closely with building principals to facilitate progress monitoring and benchmark meetings where I interpreted the data and supported our staff in providing the best research-based practices.</li>
            <li>Served as a literacy coach for my buildings (elementary and middle school) as part of Michigan’s Integrated Behavior and Learning Support Initiative project. As a coach for the district, I worked closely with school administrators to lead our district toward building the capacity to sustain effective school wide behavior and learning programs.</li>
            <li> Committed to increasing student reading performance, reducing problem behaviors, and helping the school staff use student performance information to develop and evaluate behavior and reading interventions.</li>    
          </ul>
          <br>
          <h4>Graduate Assistant, Supervisor: Camille Blachowicz, Ph. D. Director of the Reading and Language Program at National Louis University - 2003-2005</h4>
          <br>
          <ul>
            <li>Assisted in research and editing of the book, <u>Teaching Vocabulary in All Classrooms, 3rd Edition</u>  authored by Camille Blachowicz, Ph.D. and Peter Fisher, Ph.D. </li>
            <li>Maintained and updated the website for the Reading and Language department at National Louis University</li>
            
          </ul>
          <br>
           
          <h4>Family Literacy Project, Supervisor: Kim Adamle, PhD.; Diane Salmon, PhD. - 2004-2005</h4>
          <br>
          <ul>
            <li>Participated in a multicultural literature program promoting literacy, values, and prevention.</li>
            <li>Developed lesson plans and taught parents how to interact with their children to enhance literacy.</li>
            
          </ul>
         
          <br>
        </section>

        <section id="dev-experience">
          <h2>Web Development Projects<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>Homework Tracker</h4>
          <ul>
            <li>Homework Tracker was a major project I completed during my studies at the Iron Yard. It is an application that tracks Homework submissions across the many Iron Yard locations. The database relationships are quite complex, with many overlapping relationships between users, locations, lessons, assignments, and submissions.

            </li>
            <li>Technologies: Ruby on Rails, MySQL, Devise and CanCan, Twitter Bootstrap</li>
          </ul>
          <br>
          <h4>Iron Yard Hospital System</h4>
          <ul>
            <li>Iron Yard Hospital System is an application that manages various hospital systems. Users can manage many different hospitals, patients, and medications. The pagination for the hospitals were created manually, with the use jQuery.

            </li>
            <li>Technologies: Ruby on Rails, MySQL, jQuery, AJAX, Twitter Bootstrap</li>
          </ul> 
          <br>
          <h4>Meeting of the Minds</h4>
          <ul>
            <li>...</li>
            <li>Technologies: </li>
          </ul>        
          <br>
          <h4>Calculator</h4>
          <ul>
            <li>A keypad calculator built using AngularJS. No data is saved to a database. All intermediary values are stored and modified as scope variables within the Angular controller.</li>
            <li>Technology: AngularJS</li>
          </ul>
          <br>   

          
   
        </section>

      </div>

    </div> <!--end of .row -->

  </div> <!--end of .container-fluid -->

  <div class="row">
    <br>
    <footer class="text-center">© 2015 Lindsay Williams</footer>
     
    
  </div>
   
</div> <!--end of #wrapper -->
  
  