

<div id="wrapper">

  <div class="container-fluid">

    <div id="resume-head" class="row">

      <header class="text-center">
        <h1>Lindsay Williams</h1>
        <p><a href="mailto:williamsl25@yahoo.com?subject=Saw your profile, can we talk?" data-rel="external"><i class="fa fa-envelope-o fa-2x"></i>  williamsl25@yahoo.com</a> <a href="tel:+16164058551"><i class="fa fa-phone fa-2x"></i>(616) 405-8551</a> <a href="https://github.com/williamsl25"><i class="fa fa-github fa-2x"></i>  github</a> 
        <a href="https://williamsportfolio.herokuapp.com/"><i class="fa fa-code fa-2x"></i>  Portfolio</a></p>

        <br>
      </header>

    </div> <!--end of .row -->

    <!-- <hr> -->

    <div id="resume-body" class="row">

      <div class="col-sm-10 col-sm-offset-1">

        <section id="nav">

          <nav id="resume-nav" role="navigation">

            <div class="row">

            
              <div class="col-sm-3 col-xs-6">
                <a href="#skills">Skills</a>
              </div>

              <div class="col-sm-3 col-xs-6">
                <a href="#education">Education</a>
              </div>

              <div class="col-sm-3 col-xs-6">
                <a href="#prof-experience">Experience</a>
              </div>

              

              <div class="col-sm-3 col-xs-6">
                <a href="#dev-experience">Projects</a>
              </div>
            
            </div> <!--end of .row -->      
          
          </nav>

        </section>

        <section id="skills">
          <h2>Skills <span class="pull-right top-link"><a href="#resume-head">Top</a> </span> </h2>
          <h4>Ruby on Rails</h4>
            <ul>
              <li>Full-Stack App Development</li>
              <li>MySQL and PostgreSQL Databases</li>
              <li>Unit, Feature and Integration Testing</li>
            </ul>
          <h4>JavaScript</h4>
            <ul>
              <li>jQuery</li>
              <li>AJAX</li>  
              <li>AngularJS</li>
              <li>JSON</li>  
              
            </ul>
          <h4>HTML/CSS</h4>
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>  
              <li>Twitter Bootstrap</li>  
              <li>Git / GitHub</li>
            </ul>
         <h4>Supplementary Skills</h4>
           <ul>
              <li>Focused, Efficient, and Hard Working</li>
              <li>Strong Organizational and Data Management skills</li>
              <li>Able to juggle a variety of tasks and manage time effectively</li>
              <li>Strong interpersonal and people skills</li>
              <li>Excellent oral and written communication skills</li>
              <li>Able to handle stress and work well under pressure</li>
              <li>Proactive and detail-oriented</li>

          </ul>  
        </section>

        <section id="education">
          <h2>Education<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>Rails Engineer Certificate of Completion, April 2015</h4>
          <p>The Iron Yard Academy, Charleston, SC</p>
            <ul>
              <li>Completed a 12-week intensive programming bootcamp designed to teach a comprehensive understanding of backend engineering and web development.</li>
            </ul>
            <br>
          <h4>Education Specialist Degree in School Psychology (Ed.S), May 2006</h4>
          <p>National-Louis University, Evanston, IL</p>
            <ul>
              <li>The School Psychology Certification Program is a nationally approved (NASP) program.</li>
              <li>Overall GPA 4.0</li>
            </ul>
            <br>
          <h4>Master of Education (M.Ed), May 2003</h4>
          <p>Aquinas College, Grand Rapids, MI</p>
            <ul>
              <li>Michigan Certification in Education K-6 All Subjects/7-8 Psychology.</li>
              <li>Overall GPA 3.9</li>
            </ul>
            <br>
          <h4>Bachelor of Science (BS); Major Psychology, Minor Biology, January 1999</h4>
          <p>Western Michigan University, Kalamazoo, MI</p>
            <ul>
              <li>Graduated Cum Laude.</li>
              <li>Overall GPA 3.3</li>
            </ul>
            <br>
        </section>

        <section id="prof-experience">
          <h2>Professional Experience<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>School Psychologist, Michigan and South Carolina - 2005-2014</h4>
          <br>
          <ul> 
            <li> Committed to increasing student reading performance, reducing problem behaviors, and helping the school staff use student performance data to develop and evaluate behavior and reading interventions.</li> 
            <li>Focused on implementing data driven, research based intervention strategies in elementary and secondary schools.</li> 
            <li>Collaborated with staff in planning educational interventions, curriculum, behavioral management, and teaching strategies, including early intervention and response to intervention approaches.</li> 
            <li>Performed the duties and responsibilities of the pre-referral evaluation team as well as served as the lead evaluator in the identification and re-evaluation of students with disabilities.</li>
            <li>My experience included administering and interpreting evaluation data and collaborating with parents to increase their understanding, knowledge, and use of appropriate resources available.</li>      
            <li>Served as a literacy coach for my buildings (three elementary schools and one middle school) as part of Michigan’s Integrated Behavior and Learning Support Initiative project. As a coach for the district, I worked closely with school administrators to lead our district toward building the capacity to sustain effective school wide behavior and learning programs.</li>
               
          </ul>
          <br>
          <h4>Graduate Assistant, Supervisor: Camille Blachowicz, PhD - 2003-2005</h4>
          <br>
          <ul>
            <li>Assisted in research and editing of the book, <u>Teaching Vocabulary in All Classrooms, 3rd Edition</u>  authored by Camille Blachowicz, Ph.D. and Peter Fisher, Ph.D. </li>
            <li>Maintained and updated the website for the Reading and Language department at National Louis University</li>
            
          </ul>
          <br>
           
          <h4>Family Literacy Project, Supervisor: Kim Adamle, PhD.; Diane Salmon, PhD. - 2004-2005</h4>
          <br>
          <ul>
            <li>Participated in a multicultural literature program promoting literacy, values, and prevention.</li>
            <li>Developed lesson plans and taught parents how to interact with their children to enhance literacy.</li>
            
          </ul>
         
          <br>
        </section>

        <section id="dev-experience">
          <h2>Web Development Projects<span class="pull-right top-link"><a href="#resume-head">Top</a> </span></h2>
          <h4>Meeting of the Minds</h4>
          <ul>
            <li>Meeting of the Minds was my final project at the Iron Yard.  It is a full stack web application designed to facilitate the use of quick, easy-to-administer reading assessments with high utility for instructional decision making.  It is designed to assist teachers in easily sorting their students into instructional reading groups and monitor as well as make changes to reading instruction based on the reading data.  It is also a tool that parents can use to monitor their child’s progress and communicate with teachers.</li>
            <li>Technologies: Ruby on Rails, Bootstrap, Javascript, JQuery, and Morris.js</li>
            <li><a href='http://meetingoftheminds.herokuapp.com/' target='_blank'>See it Live!</a> </li>
          </ul>
          <br>
          <h4>Iron Links</h4>
          <ul>
            <li>The Iron Links was a collaborative project designed to simplify the process of connecting potential employers to the students of The Iron Yard.
            </li>
            <li>Technologies: Ruby on Rails, MySQL, Devise and CanCan, Twitter Bootstrap</li>
          </ul>
          <br>
          <h4>Iron Yard Hospital System</h4>
          <ul>
            <li>Iron Yard Hospital System is an application that manages various hospital systems. Users can manage many different hospitals, patients, and medications. The pagination for the hospitals were created manually, with the use jQuery.

            </li>
            <li>Technologies: Ruby on Rails, MySQL, jQuery, AJAX, Twitter Bootstrap</li>
          </ul> 
                
          <br>
          <h4>Calculator</h4>
          <ul>
            <li>A keypad calculator built using AngularJS. No data is saved to a database. All intermediary values are stored and modified as scope variables within the Angular controller.</li>
            <li>Technology: AngularJS</li>
          </ul>
          <br>   

          
   
        </section>

      </div>

    </div> <!--end of .row -->

  </div> <!--end of .container-fluid -->

  <div class="row">
    <br>
    <footer class="text-center">© 2015 Lindsay Williams</footer>
     
    
  </div>
   
</div> <!--end of #wrapper -->
  
  