  <div class="header">
    <div class="container">
      <nav class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand scroll-top">Lindsay Williams</a>
        </div>
          <!--/.navbar-header-->
        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="tel:616-405-8551">616.405.8551</a></li>
            <li class="current"><a href="mailto:williamsl25@yahoo.com?subject=Hey%20Lindsay,%20I%20just%20wanted%20to%20get%20in%20touch!"><i class="fa fa-envelope-o "></i>  <strong>williamsl25@yahoo.com</strong></a></li>
            <li><a href="https://github.com/williamsl25"><i class="fa fa-github"> Github</i> </a> </li>
            <li><a href="#" class="scroll-link" data-id="about_me">About Me</a></li>
            <li><a href="#" class="scroll-link" data-id="contact">Contact</a></li>
            <li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li>
            <li><a href="#" class="scroll-link" data-id="resume">Resume</a></li>
            
                    
          </ul>
        </div>
      <!--/#main-nav.navbar-collapse-->
      </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
  </div>
  
  <section class="hero overlay" data-stellar-background-ratio="0.5">
    <div class="content">
      <h1 >Lindsay Williams</h1>
      <h3>Rails Engineer, Educator, Athlete</h3>
      
    </div>
  </section>

  <section class="wrapper">
    <div id="about_me" class="page-section">
      <div class="container">
        <h2>About Me</h2>
        <p class="caption"> I am a full-stack web developer looking for an entry-level position!</p>
   
        <p>I am passionate about data analysis and its impact on user experience. I was born and raised in Michigan and enjoy rolling up my sleeves and getting to work, whether it's training for a marathon, paddleboarding in the Low Country, building furniture in my workshop, or creating functional and beautiful websites.  I worked as a school psychologist for eight years advocating for data based decision making as well as research based interventions for students who struggled in the school environment.  I believe that technology can effectively improve our public education system which is why I wanted to change gears and learn how to build web applications.  Coding is a challenging, creative, and never ending journey of learning and I love it!  I currently speak Ruby and use Rails as my translater. I also have experience using Javascript, AngularJS, jQuery, Ajax, JSON, HTML/HAML/CSS, and Sinatra.  I look forward to a job communicating complex datasets to the end user in a clean and sustainable fashion. 
        </p>
      <br>
    </div>
  </section>

  <section class="middle overlay" data-stellar-background-ratio="0.5">
    <div id="contact" class="page-section">
      <div class="container">
        <h2>Contact</h2>
        <p><a class="btn" href="mailto:williamsl25@yahoo.com?subject=Saw your profile, can we talk?" class="ng-scope"><i class="fa fa-envelope-o fa-2x"></i>  Email Me!</a></p>
        <br>
        <p><a class="btn" href="https://github.com/williamsl25"><i class="fa fa-github fa-2x"></i>  github</a></p>
        <br>
        <p><a class="btn"><i class="fa fa-phone fa-2x"></i>  (616) 405-8551</a></p>
     
      </div>
    <div>
  </section>

  <section class="wrapper">
    <div class="content">
      <div id="portfolio" class="page-section">
        
      <h2>Check out my portfolio</h2>
<!-- project 1 -->
      <div class="col-md-3">
        <span class='project2'>Meeting of the Minds</span>
        <a href='http://meetingoftheminds.herokuapp.com' target='_blank'><img src='/assets/Meeting_of_the_minds.png' class='screenshot'></a>
        <a href='https://github.com/williamsl25/Final-project' target='_blank'>Click here</a> to check out the code on GitHub.
        <br>
        <p><a href='http://meetingoftheminds.herokuapp.com/' target='_blank'>See it Live!</a> 
        <div>Login credentials:
        <br> Full access to website email: admin@gmail.com Password: password</div>  
        <br>
      
        <div>Meeting of the Minds was my final project at the Iron Yard.  It is a full stack web application designed to facilitate the use of quick, easy-to-administer reading assessments with high utility for instructional decision making.  It is designed to assist teachers in easily sorting their students into instructional reading groups and monitor as well as make changes to reading instruction based on the reading data.  It is also a tool that parents can use to monitor their child’s progress and communicate with teachers.</div>
        <br>
        <strong>Technologies used:</strong>
        <ul>
          <li>Ruby on Rails</li>
          <li>Bootstrap</li>
          <li>Javascript</li>
          <li>JQuery</li>
          <li>Morris.js</li>
        </ul>
        <br>
        <a href='mailto:williamsl25@yahoo.com?subject=Meeting of the Minds' target='_blank'>Contact me</a> for more information!
        
      </div> 
<!-- closes project 1 div -->
<!-- project 2 -->
      <div class="col-md-3">
        <span class='project1'>Iron Link</span>
        <a href='' target='_blank'><img src='/assets/Iron_links.jpg' class='screenshot'></a>
        <br>
        <a href='https://github.com/williamsl25/Group-4' target='_blank'>Click here</a> to check out the code on GitHub.
        <br>
        <br>
        <div>The Iron Link is a social networking application designed to simplify the process of connecting potential employers to the students of The Iron Yard. I worked on a small team of both front end and back end engineers to build this project. </div>
        <br>
        <strong>Technologies used:</strong>
        <ul>
          <li>Ruby on Rails</li>
          <li>MySQL</li>
          <li>Bootstrap</li>
        </ul>
        <br>
        <a href='mailto:williamsl25@yahoo.com?subject=Iron Link' target='_blank'>Contact me</a> for more information!
        
      </div> 
<!-- closes project 2 div -->
<!-- project 3 -->
      <div class="col-md-3">
        <span class='project1'>TIY Hospital System</span>
        <a href='' target='_blank'><img src='/assets/hospital.png' class='screenshot'></a>
        <br>
        <a href='https://github.com/williamsl25/Day12' target='_blank'>Click here</a> to check out the code on GitHub.
        <br>
        <br>
        <div>Iron Yard Hospital System is an application that manages various hospital systems. Users can manage many different hospitals, patients, and medications. The pagination for the hospitals were created manually, with the use jQuery.</div>
        <br>
        
        <strong>Technologies used:</strong>
        <ul>
          <li>Ruby on Rails</li> 
          <li>MySQL</li>
          <li>jQuery</li>
          <li>AJAX</li>
          <li>Twitter Bootstrap</li>
        </ul>
        <br>
        <a href='mailto:williamsl25@yahoo.com?subject=Angular Calculator' target='_blank'>Contact me</a> for more information!
        
      </div> 
<!-- closes project 3 div -->
<!-- project 4 -->
      <div class="col-md-3">
        <span class='project1'>Angular Calculator</span>
        <a href='' target='_blank'><img src='/assets/calculator.jpg' class='screenshot'></a>
        <a href='https://github.com/williamsl25/angular-calculator' target='_blank'>Click here</a> to check out the code on GitHub.
        <br>
        <br>
        <div>A keypad calculator built using AngularJS. No data is saved to a database. All intermediary values are stored and modified as scope variables within the Angular controller.</div>
        <br>
        
        <strong>Technologies used:</strong>
        <ul>
          <li>
            AngularJS
          </li>
        </ul>
        <br>
        <a href='mailto:williamsl25@yahoo.com?subject=Angular Calculator' target='_blank'>Contact me</a> for more information!
        
      </div> 
<!-- closes project 4 div -->
         
      </div>
    </div>
  </section>



  <section class="lower overlay" data-stellar-background-ratio="0.5">
    <!-- <div class="content"> -->
    <div id="resume" class="page-section">
      <div class="container">
        <h2><%= link_to "Resume", skills_path %> <i class="fa fa-file-o">  
        </i>&nbsp </h2>
        <a class= "btn" href='/assets/Resume 2015.pdf' target='_blank'>Download pdf file &nbsp 
        <i class="fa fa-file-pdf-o"> </i></a>
        <p>&nbsp</p>
        
        

      </div>
  <!--/.container-->
    </div> 
  </section>

  

  <section class="bottom">
    <div class="content">
      <p> © Lindsay Williams 2015</p>
      <p><a href="tel:+16164058551">(616) 405-8551</a></p>
      <p><a href="mailto:williamsl25@yahoo.com?subject=Saw your profile, can we talk?" data-rel="external"><i class="fa fa-envelope-o fa-2x"></i>  </a> &nbsp <a href="https://github.com/williamsl25"><i class="fa fa-github fa-2x"></i> </a> </p>

    </div>
  </section>
  <script src="jquery-2.0.2.js"></script>
  <script src="jquery.stellar.min.js"></script>
  <script>
    $.stellar();
  </script>