  <div class="header">
    <div class="container">
      <nav class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand scroll-top">Lindsay Williams</a>
        </div>
          <!--/.navbar-header-->
        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="tel:616-405-8551">616.405.8551</a></li>
            <li class="current"><a href="mailto:williamsl25@yahoo.com?subject=Hey%20Lindsay,%20I%20just%20wanted%20to%20get%20in%20touch!"><strong>williamsl25@yahoo.com</strong></a></li>
            <li><a href="#" class="scroll-link" data-id="about_me">About Me</a></li>
            <li><a href="#" class="scroll-link" data-id="contact">Contact</a></li>
            <li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li>
            <li><a href="#" class="scroll-link" data-id="resume">Resume</a></li>
            
                    
          </ul>
        </div>
      <!--/#main-nav.navbar-collapse-->
      </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
  </div>
  
  <section class="hero overlay" data-stellar-background-ratio="0.5">
    <div class="content">
      <h1 >Lindsay Williams</h1>
      <h3>Educator, leader, data pro</h3>
      <a class="btn" href="#">Learn More</a>
    </div>
  </section>

  <section class="wrapper">
    <div id="about_me" class="page-section">
      <div class="container">
        <h2>About Me</h2>
        <p class="caption">This is who I am</p>
   
        <p>Today we have such a large number of languages that might be utilized for the outlining of website pages, yet the best part is that the thought of a legitimate utilitarian site page still continues as before. When you are looking to plan an incredible site, the fundamental thing that you have to remember is the way that the outline or the layout that you are making does not have to be the best regarding complex structures and outlining. But instead what it needs is a basic diagram, a clean layout, a responsive outline and all the more essentially about every one of an improved and refined client experience.</p>
      <div>
    </div>
  </section>

  <section class="middle overlay" data-stellar-background-ratio="0.5">
    <div id="contact" class="page-section">
      <div class="container">
        <h2>Contact</h2>
        <p><a class="btn" href="mailto:williamsl25@yahoo.com?subject=Saw your profile, can we talk?" class="ng-scope"><i class="fa fa-envelope-o fa-2x"></i>  Email Me!</a></p>
        <br>
        <p><a class="btn" href="https://github.com/williamsl25"><i class="fa fa-github fa-2x"></i>  github</a></p>
        <br>
        <p><a class="btn"><i class="fa fa-phone fa-2x"></i>  (616) 405-8551</a></p>
     
      </div>
    <div>
  </section>

  <section class="wrapper">
    <div class="content">
      <div id="portfolio" class="page-section">
        
          <h2>Check out my portfolio</h2>
          <img src="https://unsplash.imgix.net/photo-1416838375725-e834a83f62b7?q=75&fm=jpg&s=fc628c231023b391f54f10f92b859a0c" alt="">
          <img src="https://ununsplash.imgix.net/reserve/unsplash_5288cc8f3571d_1.JPG?q=75&fm=jpg&s=88de4c39bd6f3eb98fef5109b471b7d1" alt="">
          <img src="https://unsplash.imgix.net/uploads/14115890754139bc8568d/d5e1ad1d?q=75&fm=jpg&s=4d0356a1dd7b363ade2f7185d45c62fa" alt="">
          <img src="https://unsplash.imgix.net/photo-1415033523948-6c31d010530d?q=75&fm=jpg&s=559455b1ad675f8dc95a04528044f870" alt="">
       
      </div>
    </div>
  </section>


  <section class="lower overlay" data-stellar-background-ratio="0.5">
    <!-- <div class="content"> -->
    <div id="resume" class="page-section">
      <div class="container">
        <h2><%= link_to "Resume", skills_path %> <i class="fa fa-file-o">  
        </i>&nbsp </h2>
        <a class= "btn" href="">Download pdf file &nbsp 
        <i class="fa fa-file-pdf-o"> </i></a>
        <p>&nbsp</p>
        
        

      </div>
  <!--/.container-->
    </div> 
  </section>

  <section class="wrapper">
    <!-- <div class="content"> -->
    <div id="portfolio" class="page-section">
      <div class="container">
        <h2>This is a regular container</h2>
        <p>But instead what it needs is a basic diagram, a clean layout, a responsive outline and all the more essentially about every one of an improved and refined client experience. Therefore, it becomes very significant that we think about the site as a spot where the clients will think that it’s as simple as streaming water to get past the methods for operations. The pattern of the coding will additionally continue as before, despite the way that there will be a considerable measure of progressions in the coding language.</p>
      </div>
    </div>
  </section>

  <section class="bottom">
    <div class="content">
      <p>Copyright <a href="https://github.com/williamsl25">Lindsay Williams</a> 2015</p>
    </div>
  </section>
  <script src="jquery-2.0.2.js"></script>
  <script src="jquery.stellar.min.js"></script>
  <script>
    $.stellar();
  </script>