*{
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: inherit;
  list-style-position: inside;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic Styles for the page */
html{
  background:#CCC;
  text-align: center;
  height:100%;
  font-size: 20px;
  
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
body{
  height:100%;
  color:white;
  text-shadow:1px 1px 0 #000;
}

a:link, a:visited{
  color:white;
  text-decoration: none;
}
a:active{
  color:#3F5263;
}
a:hover{
  text-decoration: underline;
}
a.btn {
  width:300px;
  height:60px;
  border: 3px solid #CCCCFF;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: white ;
  background: transparent;
  cursor: pointer;
  padding: .4rem 3rem;
  display:inline-block;
  text-align:center;
  margin:0;
  text-transform: lowercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  border-radius:2px;
  -webkit-transition:all 0.1s ease-in-out;
     -moz-transition:all 0.1s ease-in-out;
          transition:all 0.1s ease-in-out;
}
a.btn:hover{
  background: white;
  color: #3F5263;
}

.bottom .content a:hover{
  background: black;
  color: #3F5263;
}
.content {
 font-family: 'Dosis', sans-serif;
}
.caption {
  font-size: 25px;
  text-align: center;
}

/* Text Styles for the page */
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom:20px;
}
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 4rem;
  margin-bottom:20px;
}
h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom:20px;
}
p {
  font-size: 1rem;
  line-height: 2rem;
  text-shadow:none;
}
blockquote {
  font-size: 1.2rem;
}
pre {
  font-size: 0.9rem;
}

.content{
  display:block;
  padding:10px 50px;
  width:100%;
  max-width: 960px;
  margin:0 auto;
  overflow:hidden;
}
.content img{
  width:25%;
  height:auto;
  float:left;
  display:inline;
  padding:10px;
}

/* Section Styles for the page */
section{
  background:white;
  padding:0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper{
  color:#000;
  text-shadow:none;
}

.hero{
  background:url(https://ununsplash.imgix.net/uploads/1411115362846f0257a48/3f4eb74a?fit=crop&fm=jpg&h=700&q=75&w=1050);
  background-size: cover;
  height: 50%;
    /*max-height:100%;*/
    overflow: auto;
}
.hero .content{
  margin-top:13%;
}
.middle{
  background:url(tock.jpg);
  background-size: cover;
  height: 500px;
  width: auto;
   
}
.lower{
  background:url(resume_pic.jpg) no-repeat;
  background-size: 1230px 515px;
  width: 100%;
  height: 275px;
}
.bottom{
  background:#26292C;
}

.overlay{
  position: relative;
    z-index: 1;
}
.overlay:after{
  background:rgba(0, 0, 0, 0.5);
  content: "";
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1; 
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*header*/

.header {
  position: fixed;
  width: 100%;
  background: #222;
  z-index: 10;
}
.header .navbar-brand {
  font-weight: 400;
}
.header .navbar {
  margin: 0;
  border: none;
}

 
@media (min-width: 300px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
}

#resume-head {
  margin-top: 50px;

}
#wrapper {
  background:url(http://www.hdwallpapers.rocks/wp-content/uploads/2015/02/Water-drop-Beautiful-Amazing-Wallpapers.jpeg) no-repeat;
  background-size: cover;
}

#nav a {
  margin-top: 50px;
  color:black;
}
#resume-body {
  opacity: .8;
}
#resume-body .row{  
  padding-top: 20px; 
}

#resume-body p {
  padding-left: 30px;
}

#resume-nav > .row > div {
  text-align: center;
  margin-bottom: 20px;
}

#resume-body .top-link {
  font-size: 16px;
  padding-right: 70px;
}
#profile {
  color: black;
  text-align: left;
  padding-left: 75px;
}
#proile a{
  color: black;}
#skills {
  color: black;
  text-align: left;
  padding-left: 75px;
}
#skills a{
  color: black;}

#dev-experience {
  color: black;
  text-align: left;
  padding-left: 75px;
}
#dev-experience a{
  color: black;}

#education {
  color: black;
  text-align: left;
  padding-left: 75px;
}
#education a{
  color: black;}

#prof-experience {
  color: black;
  text-align: left;
  padding-left: 75px;
}
#prof-experience a{
  color: black;}

#resume-body li{
  color: black;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-align: justify;
  margin-left: 25px;
  padding-right: 100px;
  line-height: 22px;
}
.col-md-3 a{
  color: blue;
}
.col-md-3 img{
  height: 215px;
  width:215px;
}
img.screenshot {
  width: 250px;
  height: 180px;
  float: left;

}